<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Le Crocodile</title>
  <link rel="stylesheet" href="/style.css"/>
  <script src="/game.js"></script>
</head>
<body>
  <div style="padding-left: 30px;">
    <h2 id="current-status" style="font-family: monospace">initializing</h2>

    <h3>Players:</h3>
    <ul id="player-list">

    </ul>

    <div class="filler"></div>

    <div id="teeth-list">
      <button class="tooth">1</button>
      <button class="tooth">2</button>
      <button class="tooth">3</button>
      <button class="tooth">4</button>
    </div>
  </div>

  <script>pollGame()</script>
</body>
</html>